{% extends 'flatpages/default.html' %}

{% block title %}
Category
{% endblock title %}

{% block content %}
    <h1>Категории постов</h1>
            <h2>{{ category }}</h2>
            <hr>
{% if if_not_subscriber %}
<form method="post">
    {% csrf_token %}
            <a class="btn btn-primary float-center" href="{% url 'is_subscriber' category.id  %}">Отписаться</a>
</form>
{% else %}
<form method="post">
    {% csrf_token %}
            <a class="btn btn-primary float-center" href="{% url 'subscriber' category.id %}">Подписаться</a>
</form>
{% endif %}


    {{ if_not_subscriber }}<br>
    {{ re }}<br>

{% endblock content %}